nav {
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  Justify-content: space-between;
  padding: 2em 1em 1.5em;
  position: fixed;
}

.nav-left span {
  font-family: 'Bungee', cursive;
  font-size: 50px;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-right span {
  font-size: 30px;
  font-weight: 600;
}

.nav-right i {
  color: #a39c18;
}