nav {
  /* 120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  display: flex;
  flex-direction: column;
  Justify-content: flex-end;
}

.nav-main {
  display: flex;
  flex-direction: row;
  Justify-content: space-between;
  padding: 0em 1.5em;
}

.nav-left span {
  font-family: 'Bungee', cursive;
  font-size: 50px;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-right span {
  font-size: 30px;
  font-weight: 600;
}

.nav-right i {
  color: red;
}