.form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 20px;
  font-weight: 600;
}

.form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid black;
}

.form-bottom {
  font-family: 'Bungee', cursive;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  text-align: center;
  Justify-content: space-between;
}

.form-bottom button {
  background-color: #4056A1;
  border: none;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
}

.form-bottom output {
  color: #000000;
}